
// Health
$neutral: #FFFFFF;
$good: #5EDF64;
$fair: #FFF970;
$poor: #D34747;

// Text
$muted: #C2C2C2;

// Gradient
$black: #111113;
$dkgrey: #151516;
$mdgrey: #2C2C2F;
$ltgrey: #68686E;

// Elements
$divider: #1A1B1D;
